<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="swoop.ge test with Fluent API and Page Factory" parallel="tests">
    <test name="swoop.ge test using Page Factory and Fluent API">
        <classes>
            <class name="PageFactory"/>
        </classes>
    </test>

    <test name="swoop.ge test without PageFactory">
        <classes>
            <class name="WithoutPageFactory"/>
        </classes>
    </test>
</suite>
